@model Biblioteka.Models.Ksiazka

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }

    .my-div {
        margin-bottom: 10px;
    }
</style>




<h3>Dodaj Książkę</h3>

<form asp-action="Dodaj" asp-controller="Ksiazki" method="post">

    <div class="form-group">
        <label for="Nr_biblioteczny">Nr biblioteczny</label>
        <input asp-for="Nr_biblioteczny" class="form-control" />
        <span asp-validation-for="Nr_biblioteczny" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Tytul">Tytuł</label>
        <input asp-for="Tytul" class="form-control" />
        <span asp-validation-for="Tytul" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Autor">Autor</label>
        <input asp-for="Autor" class="form-control" />
        <span asp-validation-for="Autor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ISBN">ISBN</label>
        <input asp-for="ISBN" class="form-control" />
        <span asp-validation-for="ISBN" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="KategoriaId">Kategoria</label>
        <select asp-for="Kategoria" class="form-control" asp-items="ViewBag.Kategorie">
            <option value="">-- Wybierz kategorię --</option>
        </select>
        <span asp-validation-for="Kategoria" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>