@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>

    <h1 class="display-4">System biblioteczny</h1>
    <p>Proszę wybrać jedną z opcji w menu aby wykonać akcję.</p>
    <br>
    <p>Projekt zrealizowali</p>
    <p><strong>Magdalena Zawada</strong> oraz <strong>Mateusz Zawiliński</strong></p>
    <p>       lab3/2/AD   </p>
    <br>
    <p>
        System biblioteczny to projekt zrealizowany w ramach przedmiotu "Programowanie w środowisku ASP.NET" na WSEI.
    </p>
    </p>
</div>
