@{
    ViewData["Title"] = " ";
}
<h1>@ViewData["Title"]</h1>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>
<header>
    <h3>Polityka Prywatności Systemu Bibliotecznego</h3>
</header>

<section>
    <h4>1. Zbieranie danych osobowych</h4>
    <p>
        W celu umożliwienia korzystania z naszego systemu bibliotecznego, zbieramy Twoje dane osobowe.
        Robimy to wyłącznie po to, by zarejestrować Cię jako użytkownika, umożliwić wypożyczenie książek i
        świadczyć Ci nasze usługi. Oto dane, które zbieramy:
    </p>
    <ul>
        <li>Imię i nazwisko</li>
        <li>Adres e-mail</li>
        <li>Numer telefonu</li>
        <li>Numer karty bibliotecznej</li>
        <li>Historia wypożyczeń książek</li>
    </ul>
</section>

<section>
    <h4>2. Wykorzystanie danych</h4>
    <p>Twoje dane będą wykorzystywane wyłącznie w celu:</p>
    <ul>
        <li>Rejestracji i zarządzania Twoim kontem użytkownika</li>
        <li>Umożliwienia Ci wypożyczeń książek</li>
        <li>Przypomnienia o terminach zwrotu książek</li>
        <li>Wysyłania powiadomień o nowościach i wydarzeniach bibliotecznych</li>
    </ul>
</section>

<section>
    <h4>3. Bezpieczeństwo danych</h4>
    <p>
        Zabezpieczamy Twoje dane przed nieautoryzowanym dostępem, utratą lub zniszczeniem.
        Przechowujemy je w zaszyfrowanych bazach danych, a dostęp do nich mają tylko osoby upoważnione.
        Pani Bożenka sprawdza, czy system działa bezpiecznie, nawet jeśli trzeba zrobić przerwę na kawę –
        bezpieczeństwo danych jest dla niej priorytetem!
    </p>
</section>

<section>
    <h4>4. Udostępnianie danych</h4>
    <p>
        Twoje dane osobowe nie będą udostępniane ani sprzedawane osobom trzecim.
        Jedynym przypadkiem, w którym możemy przekazać Twoje dane, jest sytuacja,
        w której jesteśmy do tego zobowiązani przez przepisy prawa.
    </p>
</section>

<section>
    <h4>5. Cookies</h4>
    <p>
        W naszym systemie używamy plików cookies, które pomagają dostosować nasze usługi do Twoich potrzeb.
        Dzięki nim zapamiętujemy Twoje preferencje, jak np. wybrane książki lub ustawienia konta.
        Pani Bożenka uwielbia ciasteczka, ale nie te w systemie! Dba o to, by pliki cookies były bezpieczne,
        a Twoje dane – chronione!
    </p>
</section>

<section>
    <h4>6. Twoje prawa</h4>
    <p>Masz pełne prawo do:</p>
    <ul>
        <li>Dostępu do swoich danych osobowych</li>
        <li>Poprawiania swoich danych</li>
        <li>Usunięcia swoich danych z systemu (oczywiście po zwróceniu wszystkich książek!)</li>
        <li>Ograniczenia przetwarzania danych</li>
    </ul>
    <p>Pani Bożenka pomoże Ci załatwić wszystko, ale pamiętaj – bez zwrócenia książek, nie ma mowy o usunięciu danych!</p>
</section>

<section>
    <h4>7. Zmiany w polityce prywatności</h4>
    <p>
        Zastrzegamy sobie prawo do wprowadzania zmian w Polityce Prywatności.
        Wszelkie zmiany będą ogłaszane na naszej stronie internetowej.
        Pani Bożenka, jak zawsze, będzie pierwsza, która sprawdzi te zmiany, abyś był na bieżąco!
    </p>
</section>

<br />
<br />


